<!DOCTYPE html>
<html> 

<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Jedi Parking</title> 
  <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
</head> 
<body>
  <div id="map"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript">
    
    var json = (function () {
      var json = null;
      $.ajax({
        'async': false,
        'global': false,
        'url': "https://parking.api.smgov.net/meters",
        'dataType': "json",
        'success': function (data) {
            json = data;
        }
      });
      return json;
    })(); 

    // console.log(json[0]['longitude']);
    var locations = [];
    // for(var i=0; i<json.length; i++){
    for(var i=0; i<5; i++){
      var foo=[];
      foo[0]=json[i]['street_address'];
      foo[1]=json[i]['latitude'];
      foo[2]=json[i]['longitude'];
      foo[3]=json[i]['meter_id'];

      locations[i] = foo;
       
    }

    function initMap() {

      var styles = [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}];

      var styledMap = new google.maps.StyledMapType(styles,
      {name: "Styled Map"});

      var mapOptions = {
        zoom: 18,
        minZoom: 16,
        scaleControl: true,
        center: new google.maps.LatLng(34.024212, -118.496475),
        mapTypeControlOptions: {
          mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
        }
      };

      var map = new google.maps.Map(document.getElementById('map'), mapOptions);
      map.mapTypes.set('map_style', styledMap);
      map.setMapTypeId('map_style');

      var infoWindow = new google.maps.InfoWindow({map: map});
      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }


    }

    initMap();

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) { 

      //retrieve events for a location
      var meter_id = locations[i][3];

      var json = (function () {
        var json = null;
        $.ajax({
          'async': false,
          'global': false,
          'url': "https://parking.api.smgov.net/meters/"+meter_id+"/events/latest",
          'dataType': "json",
          'success': function (data) {
              json = data;
          }
        });
        return json;
      })(); 

      if (json!=null) {
        var last_event = json['event_type'];
      } 

      //if taken, create red marker
      if (json!=null && last_event=='SS'){
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map,
          icon: {
            path: google.maps.SymbolPath.CIRCLE,
            scale: 5,
            fillColor: 'red',
            strokeColor: 'red',
            strokeWeight: 1,
            fillOpacity: 0.8
          }
        });
      } else { //if not taken or unknown, make it green
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map,
          icon: {
            path: google.maps.SymbolPath.CIRCLE,
            scale: 5,
            fillColor: 'green',
            strokeColor: 'green',
            strokeWeight: 1,
            fillOpacity: 0.8
          }
        });
      }

      // marker = new google.maps.Marker({
      //   position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      //   map: map,
      //   icon: {
      //     path: google.maps.SymbolPath.CIRCLE,
      //     scale: 5,
      //     fillColor: 'orange',
      //     strokeColor: 'orange',
      //     strokeWeight: 1,
      //     fillOpacity: 0.8
      //   }
      // });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

    // window.addEventListener(resize, function(){
    //   var container = getElementById('map');
    //   container.style.width = window.innerWidth + 'px';
    //   container.style.height = window.innerHeight + 'px';
    // });

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
    }
  </script>
</body>
</html>