<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdjILRTW0vNbuC0cn4r30oFJh-HPaAOiU" type="text/javascript" defer></script>
<script>
window.smartParking = window.smartParking || {};
smartParking.searchAddress = '<%= @address %>';
// console.log('searchAddress:', smartParking.searchAddress);
</script>
<div id="mapContainer"></div>
