// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.
"use strict";
window.addEventListener('load', function(){

window.smartParking = window.smartParking || {};

var autoZoomControl = true;
var currentPos;
var destinationMarker;
var destinationPos;
var directionsDisplay;
var faye_url;
var infoWindow;
var map;
var meters = new Map(); // Note: This is a Javascript ES6 Map object, and has nothing to do with google maps
var myMarker;
var watchId;
// console.log('hello wednesday evening!');
// console.log(smartParking.websocket_end_point);
var debugMarker; // debug

var t = Date.now();
function debugTimer(){
	var message = Array.apply(null, arguments);
	var tx = t;
	t = Date.now();
	var Δt = t - tx;
	message.push('Δt:' + Δt);
	console.log.apply(console, message);
}

initMap()
.then(function(){
	return Promise.all([
		getMeters(),
		watchCurrentPosition(),
		geocodeSearchAddress()
	]);
})
.then(countMetersInArea)
.then(showRoute)
.then(receiveMeterUpdates)
.catch(console.error.bind(console))



function getMeters(){
	return new Promise(function(resolve, reject){
		// debugTimer('getMeters');
		$.ajax({
			'url': "/meters",
			'dataType': "json"
		})
		.complete(resolve)
		.fail(reject);
	})
	.then(function (data) {

		// Merge the new meter data with our existing meters
		data.forEach(function (meterData) {
			var meter = meters.get(meterData.meter_id) || {};
			meter = Object.assign({}, meter, meterData);
			meter.latlng = new google.maps.LatLng(meter.latitude, meter.longitude);
			meters.set(meterData.meter_id, meter);
		});

		// Keep a local copy of the basic meter data we have accumulated
		var storage = [];
		meters.forEach(function (meter, meter_id) {
			// we use a CSV format to reduce the data size since local storage is limited
			storage.push(meter_id);
			storage.push(meter.address);
			storage.push(meter.latitude);
			storage.push(meter.longitude);
		});
		localStorage.meters = JSON.stringify(storage);
	});


}

function showMeterMarkers() {
	// debugTimer('showMeterMarkers');
	var currentZoom = map.getZoom();
	var bounds = map.getBounds();
	var displayedCount = 0;
	// Update meters to show only if they are within the bounds)
	meters.forEach(function (meter, meter_id) {
		if (!meter.latlng) {
			// somehow we have a bad meter?
			console.info('Bad Meter:', meter_id, meter);
			meters.delete(meter_id);
			return;
		}
		
		if (!bounds.contains(meter.latlng) || currentZoom < 18){
			if (meter.marker) {
				// Remove meter from the map
				meter.marker.setMap(null);
			}
		} else {
			++displayedCount;
			if (!meter.marker) {
				// Set up the meter's marker
				var icon = generateMeterIcon(meter);
				meter.marker = new google.maps.Marker({
					position: meter.latlng,
					icon: icon
				});

				google.maps.event.addListener(meter.marker, 'click', (function (marker, address, id) {
					return function () {
						infoWindow.setContent(address+' '+id);
						infoWindow.open(map, marker);
					}
				})(meter.marker, meter.address, meter.meter_id));
			}
			if( meter.marker.getMap() !== map){
				// Display the meter on the map if it isn't already shown
				meter.marker.setMap(map);	
			}
		}
	});
	// debugTimer('showMeterMarkers', 'zoom: '+currentZoom, 'showing ' + displayedCount+' (of '+ meters.size +' total meters)');
}

function generateMeterIcon(meter){
	var icon = {
		path: google.maps.SymbolPath.CIRCLE,
		scale: 5,
		fillColor: 'red',
		strokeColor: 'red',
		strokeWeight: 1,
		fillOpacity: 0.8
	};
	if (meter.event_type !== 'SS') {
		//if not taken or unknown, make it green
		icon.fillColor = 'green';
		icon.strokeColor = 'green';
	}

	if (!!meter.marker) {
		meter.marker.setIcon(icon);
	}

	return icon;
}


function handleLocationError(message) {
	displayAlert(message);
	console.error(message);
}

function initMap() {
	return new Promise(function (resolve, reject){
		// debugTimer('initMap');

		try {
			var storage = JSON.parse(localStorage.meters);
			while (storage.length){
				var meter = {
					meter_id: ''+storage.shift(),
					address: ''+storage.shift(),
					latitude: +storage.shift(),
					longitude: +storage.shift()
				};
				meter.latlng = new google.maps.LatLng(meter.latitude, meter.longitude);
				meters.set(meter.meter_id, meter);
			}
		} catch (ignoredErr) {
			//Failed to parse local storage meters, so we use a blank object.
			localStorage.meters = '[]';
			meters = new Map();
		};
		// debugTimer('initMap got meters from local storage', meters.size);

		var styles = [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}];
		var styledMap = new google.maps.StyledMapType(styles, {name: "Styled Map"});
		var mapOptions = {
			zoom: 18,
			minZoom: 10,
			scaleControl: true,
			center: new google.maps.LatLng(33.9895138, -118.42890510000001),
			mapTypeControlOptions: {
				mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
			}
		};
		
		var mapDiv = document.createElement('div');
		mapDiv.setAttribute('id', 'map');

		window.smartParking.map = map = new google.maps.Map(mapDiv, mapOptions);
		map.mapTypes.set('map_style', styledMap);
		map.setMapTypeId('map_style');
		document.getElementById('mapContainer').appendChild(mapDiv);
		google.maps.event.addListener(map, 'idle', showMeterMarkers);



		var myMarkerIcon = {
			path: google.maps.SymbolPath.CIRCLE,
			scale: 5,
			fillColor: '#DCF2FC',
			strokeColor: '#1E4674',
			strokeWeight: 2,
			fillOpacity: 1
		};
		myMarker = new google.maps.Marker({icon: myMarkerIcon, map: map});
		//myMarker = new google.maps.Marker({icon: "/img/moving_icon.png", map: map});
		infoWindow = new google.maps.InfoWindow({map: map});

		// DEBUGGING STUFF

		debugMarker = new google.maps.Marker({icon: {
			path: google.maps.SymbolPath.CIRCLE,
			scale: 5,
			fillColor: '#FF8888',
			strokeColor: '#880000',
			strokeWeight: 2,
			fillOpacity: 1
		}, map: map});
		google.maps.event.addListener(map, 'click', function(event) {
			// THIS WHOLE EVENT LISTENER IS FOR DEBUGGING
			currentPos = event.latLng;
			handleLocationChange();
		});
		// END DEBUGGING STUFF


		// debugTimer('initMap finished');
		resolve();
	});
}


function showRoute(){
	return new Promise(function (resolve, reject) {
		// debugTimer('showRoute');
		if (!currentPos || !destinationPos) {
			return resolve();
		}
		var directionsService = new google.maps.DirectionsService();
		var request = {
			origin: currentPos,
			destination: destinationPos,
			travelMode: google.maps.TravelMode.DRIVING
		};
		directionsService.route(request, function(directions, status) {
			// debugTimer('showRoute callback');
			if (status == google.maps.DirectionsStatus.OK) {
				directionsDisplay = new google.maps.DirectionsRenderer({map: map, directions: directions});
			}
			// debugTimer('showRoute callback finished');
			resolve();
		});
	});
}

function geocodeSearchAddress() {
	return new Promise(function (resolve, reject) {
		// debugTimer('geocodeSearchAddress');

		var address = smartParking.searchAddress;
		if (''+address == ''){
			return resolve();
		}
		var geocoder = new google.maps.Geocoder();
		geocoder.geocode({ address: address }, function (results, status) {
			// debugTimer('geocodeSearchAddress callback');
			if (status !== google.maps.GeocoderStatus.OK) {
				return reject('The address is either invalid or is not specific enough.');
			}

			var address = results[0].formatted_address;

			var numCommas = address.match(/,/g).length;
			if (numCommas >= 3) {
				address = address.replace(/, USA$/, '');
			}
			document.getElementById('address').value = address;
			destinationPos = results[0].geometry.location
			// debugTimer('geocodeSearchAddress callback finished');
			resolve();
		});
	});
}

function watchCurrentPosition() {
	var firstTime = !watchId;
	return new Promise(function (resolve, reject){
		// debugTimer('watchCurrentPosition');
		if (!navigator &&! navigator.geolocation) handleLocationError('Error: The Geolocation service failed.')
		
		if (!firstTime) return;
		var watchCurrentPositionOptions = {
			enableHighAccuracy: true,
			timeout: 2000,
			maximumAge: 500
		};

		watchId = navigator.geolocation.watchPosition(function(position) {
			debugTimer('watchCurrentPosition callback');
			currentPos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
			handleLocationChange()

			if (firstTime) {
				firstTime = false;
				resolve();
			}
			debugTimer('watchCurrentPosition callback finished');
		}, function(error) {	
			switch (error.code || 0){
				case 3: // Timeout Expired
					break;
				default:
				handleLocationError(error.message || error || null);
			}
		},
		watchCurrentPositionOptions);
	});
}

function handleLocationChange() {
	myMarker.setPosition(currentPos);
	proximityBasedZoomAndCenter();
	// do we need to showMeterMarkers(); ??
}

function countMetersInArea() {
	//cal the number of available and vacant parkings within half a mile walking from the destination
	// debugTimer('countMetersInArea');
	var counts = {'meterCount': 0, 'availMeterCount': 0};
	if (!destinationPos && !destinationPos.lat) return counts;

	var lat2 = destinationPos.lat();
	var lng2 = destinationPos.lng();
	meters.forEach(function (meter, meter_id){
		var distance = getDistance(meter.latitude, meter.longitude, lat2, lng2);
		if (distance <= 0.125) {
			counts.meterCount += 1;
			if (meter.event_type != 'SS') {
				counts.availMeterCount += 1;
			}
		}
	});
	var countDisplay = "We found "+counts.availMeterCount+" available meters near the area!";

	displayAlert(countDisplay);
	return counts;
}

function displayAlert(display){
	
	var alertDiv = document.createElement('div');
	var alert='<div type="div" class="alert alert-success alert-dismissible" role="alert" id="countAlertDiv" aria-label="Close"><button type="button" class="close" data-dismiss="alert" id="countAlertButton" aria-label="Close"><span aria-hidden="true">×</span></button>'+display+'</div>';

	alertDiv.innerHTML = alert;
	document.getElementById('mapContainer').appendChild(alertDiv.firstChild);

}

function getDistance(lat1, lng1, lat2, lng2) {
	var R = 3959; // miles
	var φ1 = lat1 / 360 * Math.PI;
	var φ2 = lat2 / 360 * Math.PI;
	var Δφ = (lat2-lat1) / 360 * Math.PI;
	var Δλ = (lng2-lng1) / 360 * Math.PI;

	var a = Math.sin(Δφ/2) * Math.sin(Δφ/2) +
	        Math.cos(φ1) * Math.cos(φ2) *
	        Math.sin(Δλ/2) * Math.sin(Δλ/2);
	var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));

	var d = R * c;
	return d;
}

function receiveMeterUpdates() {
	
	window.client = new Faye.Client(smartParking.websocket_end_point); //dev environment configuration

	var subscription = client.subscribe('/meters/update', function(payload) {
		if (payload && payload.meter_id){
			//update the meter info with the new event type, event time
			var meter = meters.get(payload.meter_id) || payload;
			meter.event_type = payload.event_type
			meter.event_time = payload.event_time
			meters.set(meter.meter_id, meter);
			// Set up the meter's marker
			generateMeterIcon(meter);
		}
	});
}


function proximityBasedZoomAndCenter() {
	if (!currentPos || !currentPos.lat || !destinationPos || !destinationPos.lat) return;
	if (!autoZoomControl) return; // If the user manually changes the zoom, we stop automatically adjusting it.

	var distance = getDistance(
		currentPos.lat(), currentPos.lng(),
		destinationPos.lat(), destinationPos.lng()
	);
	console.log('Distance to destination:', distance);
	
	var centerPos = new google.maps.LatLng(
		(destinationPos.lat() - currentPos.lat())/2 + currentPos.lat(),
		(destinationPos.lng() - currentPos.lng())/2 + currentPos.lng()
	);
	console.log('Distance to center:', getDistance(
		currentPos.lat(), currentPos.lng(),
		centerPos.lat(), centerPos.lng()
	));

	var currentCenter = map.getCenter();
	debugMarker.setPosition(centerPos);
	if (currentCenter.lat() !== centerPos.lat() || currentCenter.lng() !== centerPos.lng()) {
		map.setCenter(centerPos);
	}

	// Does our current display show enough?
	// Meters per pixel: 156543.03392 * Math.cos(latLng.lat() * Math.PI / 180) / Math.pow(2, zoom)

	var currentZoom = map.getZoom();
	var newZoom;

	//newZoom = currentZoom + (distance > visibleDistance) ? -1 : +1;
	if (distance <= 0.1) newZoom = 18;

	if (newZoom && newZoom !== currentZoom) {
		map.setZoom(newZoom);
		console.log('zoooooom! set!', newZoom);
	}

	// todo: center map on area that is midline between currentpos and destinationpos
}

window.smartParking.getDistance = getDistance;
window.smartParking.getCurrentPos = function(){console.log(currentPos.lat(),currentPos.lng())}
window.smartParking.getDestinationPos = function(){console.log(destinationPos.lat(),destinationPos.lng())}
window.smartParking.setCurrentPos = function(lat,lng){
	// window.smartParking.debugSetCurrentPos(34.024212, -118.496475)
	currentPos = new google.maps.LatLng(lat, lng)
	handleLocationChange()
}

});