@media(max-width:767px) {
    .navbar .navbar-form {
        width: 250px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 350px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-header {
    background: image-url('1E4674-0.7.png');

}

button.btn.btn-default {
    border-radius: 0;
}

.form-control {
    border-radius: 4px;
}


body, html {
  height: 100%;
  width: 100%;
}

#mapContainer  {
/*    top: 0;
    bottom: 0;
    width: 100%;*/
    // height: calc(100% - 50px);
    // top: 51px;
    height: 100%;
    position: relative;

    & > div {
        height: 100%;
    }
    & > .alert {
        top: 51px;
        position: absolute; 
        z-index:10000;
        max-height:50px;
        border-radius:0px;
        width: 100%;
    }
}

.btn.geolocation {
    background: image-url('geolocation_icon.png');
    background-size: contain;
    height: 35px;
    width: 35px;
    margin-top: 8px;
    margin-bottom:8px;
    margin-right:2px;    
}

.navbar-default {
    background: image-url('000000-0.png');
    background-color: initial !important;
}

.icon-bar {
    color: black;
}
.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle{
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000 !important;
}

.navbar-toggle .icon-bar {
    width: 25px;
}

.navbar-toggle {
    margin-right: 0px !important;
}

#search {
    width: calc(100% - 79px);
}

button.btn.btn-default{
    border-radius:4px;
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
}