@media(max-width:767px) {
    .navbar .navbar-form {
        width: 250px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 350px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-header {
    background-color: #1E4674;
    opacity: 0.8;
}

button.btn.btn-default {
    border-radius: 0;
}

input.form-control {
    border-radius: 0;
}


body, html {
  height: 100%;
  width: 100%;
}

#mapContainer  {
/*    top: 0;
    bottom: 0;
    width: 100%;*/
    height: calc(100% - 50px);
    top: 51px;
    position: relative;

    & > div {
        height: 100%;
    }
    & > .alert {
        top: 0px;
        position: absolute; 
        z-index:10000;
        max-height:50px;
        border-radius:0px;
        width:
    }
}